.nav-container {
  position: fixed;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  padding: 18px 45px;
  border-radius: 20px;
  backdrop-filter: blur(14px);
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(148, 84, 255, 0.4);
  box-shadow: 0 0 18px rgba(148, 84, 255, 0.4);
  z-index: 1000;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-button {
  text-decoration: none;
  color: #c7c7ff;
  font-weight: 500;
  transition: 0.28s ease;
  padding: 6px 12px;
  border-radius: 8px;
}

.nav-button:hover {
  color: white;
  box-shadow: 0 0 12px #8b54ff;
}

.nav-button.active {
  color: white;
  font-weight: 600;
  border-bottom: 2px solid #b27aff;
  text-shadow: 0 0 8px #a470ff;
}
